{%extends "globus-portal-framework/v2/detail-base.html"%}
{% load static humanize is_active %}

{% block headextras %}
<script type="text/javascript" src="{% static 'ptycho/js/general-preview.js' %}"></script>
<link rel="stylesheet" type="text/css" href="/static/css/search.css" />
<script src="{% static 'js/copy-to-clipboard.js' %}"></script>
<script>
  // Disable Column Truncation
  // TRUNCATE_TABULAR_DATA_COLUMNS = 0;
  let PREVIEW_DIV_ID = 'preview-content-';

  let rfmFiles = [
  {% for file in all_preview %}
    {
      'id': '{{file.id}}',
      'url': '{{file.url}}',
      'mimetype': '{{file.mime_type|default:"image/png"}}',
      'previewBytes': '{{file.field_metadata.previewbytes}}',
      'filename': '{{file.filename}}',
      'showFile': true,
    },
  {% endfor %}
  ]
  var accessToken = null;

  async function loadInitialImages() {
    try {
      accessToken = await getAccessToken("{% url 'gladier-ptychography-portal:access-token' %}", "{{resource_server}}")
    } catch (error) {console.error('Fetching access token failed!')}

    for (var i = 0; i < rfmFiles.length; i++)  {
      console.log('loading: ' + rfmFiles[i].url)
      loadFile(rfmFiles[i])
    }
  }

  function loadFile(file_record) {
    if (file_record.loaded != true) {
      console.log('Loading file ' + file_record.filename);
      loadContent(file_record, accessToken, PREVIEW_DIV_ID + file_record['id']);
      file_record['loaded'] = true;
    }
  }
  $( document ).ready(function() {
    loadInitialImages();
  });
</script>
<style>
@media print {
  .row {
    page-break-before: always;
  }
}
</style>
{{block.super}}
{% endblock %}

{% block breadcrumb_items %}
{{ block.super }}
<li class="breadcrumb-item active"><a class="h5">{{title|default:'Search Result'}}</a></li>
{% endblock %}

{% block detail_body %}

<div class="row">
  <div class="col-md-12">
    <h3 class="text-center mb-3 h3">Contents</h3>
  </div>
</div>


<div class="row">

  {% for image_data in image_preview %}
  <div class="col-md-6">
    <div class="card mt-3 text-center" style="">
      <div id="preview-content-{{image_data.id}}"></div>
      <div class="card-body">
        <p class="card-text">{{image_data.caption}}</p>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="col-md-12 text-center">
    <h3 class="mb-3 h3"><a name="summary">Summary</a></h3>
    (<a href="#top">Top</a>)
  </div>

  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="alert alert-secondary" role="alert">
      <p>{{description|default:'No description was provided for this entry.'}}</p>
    </div>
  </div>
  <div class="col-md-1"></div>

  <div class="col-md-6">{% include 'globus-portal-framework/v2/components/detail-dc-metadata.html' %}</div>
  <div class="col-md-6">
    <table class="table table-striped table-bordered table-responsive">
      <tbody>

      {# All other rows should be nested under the 'expand' button #}

      {% for field in group.fields %}
      <tr>
        <td>{{field.name}}</td>
        <td>
          <p style="width: 75%">
            {% if field.type == 'int' %}
            {{field.value|intcomma}}
            {% elif field.type == 'filesize' %}
            {{field.value|filesizeformat}}
            {% else %}
            {{field.value}}
            {% endif %}
          </p>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

</div>

{% for text in text_outputs %}
<div class="row">
  <div class="col-md-12">
    <div class="card mt-3">
      <div class="card-body">
        <div id="preview-content-{{text.id}}"></div>
      </div>
      <div class="card-footer">
        <p class="card-text">{{text.filename}}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}